aside.logo {
  background-color: rgba(232, 232, 232, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}


aside.logo{
    padding: 0px 15px;
    width: 100%;
}

.logo img{
    width: 75%;
}