aside.menu-area {
  background-color: rgb(12, 99, 227);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.menu {
  display: flex;
  justify-content: center;
  height: 100%;
}

.menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0 15px;
  gap: 5px;
}

.menu a:hover {
  color: #000;
}
